<header></header>

<div class="content">
    <%= __('helpText') %>

    <div class="divider"></div>

    <h2>Credits</h2>
    <p>Development: <a target="_blank" href="http://mwager.de">Michael Wager</a></p>
    <p>Design: <a target="_blank" href="http://projekthelden.de">Projekthelden</a></p>
    <br/>

    <h2>App-Information</h2>
    <h3>Version</h3>
    <p><%- version %></p><br>

    <h3>UserAgent</h3>
    <p><%- ua %></p><br>

    <h3>app-config</h3>
    <pre style="word-wrap: break-word;"><%= JSON.stringify(__app_config__) %></pre>
</div>
