<header></header>

<div class="content">
    <%= __('helpText') %>

    <div class="divider"></div>

    <h2>Version</h2>
    <p><%- app.VERSION %></p>

    <div class="divider"></div>

    <h2>Copyright Information</h2>
    <p><strong><a target="_blank" href="http://zeptojs.com">Zepto</a></strong><br/>Copyright &copy; 2010-2013 Thomas Fuchs (MIT Licence)</p>
    <p><strong><a target="_blank" href="http://backbonejs.org">Backbone.js</a></strong><br/>Copyright &copy; 2010-2013 Jeremy Ashkenas, DocumentCloud Inc. (MIT Licence)</p>
    <p><strong><a target="_blank" href="http://lodash.com">Lodash</a></strong><br/>Copyright &copy; 2012-2013 The Dojo Foundation (MIT Licence)</p>
    <p><strong><a target="_blank" href="http://h5bp.com">HTML5 Boilerplate</a></strong><br/>Copyright &copy; HTML5 Boilerplate (MIT Licence)</p>
    <p><strong><a target="_blank" href="http://requirejs.org">Require.js</a></strong><br/>Copyright &copy; 2010-2013, The Dojo Foundation All Rights Reserved. (MIT Licence)</p>
    <p><strong><a target="_blank" href="http://momentjs.com">Moment.js</a></strong><br/>Copyright &copy; 2011-2013 Tim Wood (MIT Licence)</p>
    <p><strong><a target="_blank" href="http://mobiscroll.com">MobiScroll Date & Time Scroller</a></strong><br/>Copyright &copy; 2010-2013, Acid Media (MIT Licence)</p>
    <p><strong><a target="_blank" href="http://maker.github.io/ratchet">Ratchet</a></strong><br/>Copyright &copy; 2012 DHG, CONNORS, FAT and other contributors (MIT Licence)</p>
    <br/>
    <p><a target="_blank" href="https://github.com/mwager/atonego">...and many more</a></p>

    <div class="divider"></div>

    <h2>Credits</h2>
    <p>Development: <a target="_blank" href="http://mwager.de">Michael Wager</a></p>
    <p>Design: <a target="_blank" href="http://projekthelden.de">Projekthelden</a></p>
    <br/>
</div>