<!-- This markup will go in a <header/> -->
<div class="header-animated">
    <a id="gotolists" href="#todolists"
        class="<%- showHomeButton ? '' : 'hidden' %> goto-lists back-link"></a>

    <a id="goback" href="#"
        class="<%- showBackButton ? '' : 'hidden' %> back-btn"></a>

    <a id="list-settings" href="#todolists/edit/<%- listID %>"
        class="<%- showListEditButton ? '' : 'hidden' %> "></a>

    <div id="app-loader" style="top: 3px; right: <%- showListEditButton || showSaveButton ? '50px' : '5px' %>;"></div>

    <h1 class="title" id="title"><%- title %></h1>

    <a id="header-save" href="#"
        class="<%- showSaveButton ? '' : 'hidden' %> disabled"></a>
</div>
