<ion-view title="Help">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <h1>Help page</h1>

    <p>helpText ...</p>
    <hr>

    <h2>Version</h2>
    <p>app.VERSION</p>

    <hr>

    <h2>Credits</h2>
    <p>Development: <a target="_blank" href="http://mwager.de">Michael Wager</a></p>
    <p>Design: <a target="_blank" href="http://projekthelden.de">Projekthelden</a></p>
  </ion-content>

</ion-view>
