<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Your lists</h1>
    </header>
    <ion-content class="has-header">
      <label class="item item-input">
        <input type="text" placeholder="Create list..." ng-model="list.title" ng-keyup="addList($event)">
      </label>

      <h3>Todolists</h3>
      <button ng-click="clearAll()" class="button button-assertive">@debug: clearAll</button>

      <ion-list>
        <ion-item nav-clear menu-close ng-repeat="list in todolists track by $index" href="#/app/todolists/{{list._id}}" class="item-button-right">
          <button ng-click="deleteList($event)" class="button button-positive">
            delete
          </button>

          {{list.title}}
        </ion-item>
      </ion-list>

      <br><br><hr><br>

      <ion-list>
        <ion-item nav-clear menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/settings">
          Settings
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/help">
          Help
        </ion-item>
      </ion-list>


    </ion-content>
  </ion-side-menu>
</ion-side-menus>
