<ion-view title="Settingzzz">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <h1>Settings</h1>

    <div class="content">
        <div id="user-sub-view">todo user settings...</div>

        <hr>

        <button id="logout" class="aog-button aog-big aog-white">
            logout
        </button>

        <button id="delete-account" class="aog-button aog-big aog-red">
            deleteAccount
        </button>
    </div>


  </ion-content>
</ion-view>
